a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_e4bf9ac { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:103px; background-color:#FFFFFF; background-image: url(rc_images/syubaby_header.png); background-position:top left; background-repeat:no-repeat;  }
#container_e4bf9ac_padding { margin: 10px; display: block;  }
#container_48303f72 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:115px; background-color:#FF00FF; background: linear-gradient(to right, #D3A4DE, #FF00FF);  }
#container_48303f72_padding { margin: 10px; display: block;  }
#text_157c0625 { position:absolute; left:6%; top:8%; background:none;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:20pt; font-family:Plante; color:#800080;  }
#text_49895880 { position:absolute; left:21%; top:43%; background:none;  }
.textstyle4 { font-size:12pt; font-family:'RUZACK MOJOK'; color:#000000;  }
#slide_54a1c552 { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:0; padding-top:72%; min-width:390px; max-width:390px; background-color:#FF80FF;  }
#text_5ddaa22c { border-radius: 15px; position:absolute; left:48%; top:71%; background:none;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0080;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0080; font-weight:bold;  }
#slide_2cec8d25 { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:0; padding-top:79%; background-color:#FF0080;  }
#text_50c99fc5 { position:absolute; left:62%; top:137%; width:136px; height:47px; background:none;  }
.textstyle7 { font-size:40pt; font-family:Fixedsys; color:#000000;  }
#text_23870fe5 { position:absolute; left:63%; top:168%; background:none;  }
.textstyle8 { font-size:12pt; font-family:Fixedsys; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Fixedsys; color:#000000; font-weight:bold;  }
